*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
}
form{
  background: #f5f6fa;
  margin-top: 110px;
  width: 280px;
  padding: 30px 15px 15px 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
}
input[type="text"]{
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  font-size: 36px;
  padding: 5px 5px;
  text-align: right;
}
input[type="button"]{
  width: 58px;
  height: 55px;
  background: #aaa;
  color: #fff;
  font-size: 24px;
  margin-bottom: 3px;
}
hr{
  margin: 15px 0;
}
